<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style="height: 480px">
    <div class="item active">
      <%= image_tag 'coffee.jpg' %>
      <div class="carousel-caption" style="top: 30%">
        <h1> 14-1.171 Walls must be straight and smooth</h1>
        <h4>Not all Grades are created equal.</h4>
      </div>
    </div>

    <div class="item">
      <%= image_tag 'restaurant.jpg' %>
      <div class="carousel-caption" style="top: 27%">
        <h1> Are you going to finish that?</h1>
        <h4> Worry about dessert.  Not your food.</h4>
      </div>
    </div>

    <div class="item">
      <%= image_tag 'food.jpg' %>
        <div class="carousel-caption" style="top: 30%">
          <h1>What happens to your plate before you eat?</h1>
          <h4>Find the Grade that matters to you.</h4>
        </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br>
<br>
  <!-- Start of Information -->
<div class="container text-center">
  <h3>What does a Grade A rating <b><em>really</b></em> mean?</h3>
  <div class="row" style="line-height: 1em">
    <p>There are more than 24,000 eating establishments in NYC. </p>
    <p>How many of them have a Grade A inspection rating? </p>
    <p>Do these ratings even <b>matter?</b>  Slanted Walls is here to answer.</p>
    <br>
    <br>
    <h3>Search Restaurant</h3>
    </div>
  </div>
