
/*
/* This is a manifest file that'll be compiled into application.css, which will include all the files
 // * listed below.
 // *
 // * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 // * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 // *
 // * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 // * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 // * files in this directory. Styles in this file should be added after the last require_* statement.
 // * It is generally better to create a new file per style scope.
 // *
 // *= require_tree .
 // *= require_self
 /*

@import "bootstrap-sprockets"
@import "bootstrap"


// .container
//   margin-top: 30px
//   padding: 80px 120px
//
// .container-fluid
//   margin-top: 30px

.navbar
  border: 0
  border-radius: 0
  margin-bottom: 0
  font-size: 18px
  background-color: #555

.navbar-default .navbar-brand
  color: white

.navbar-default .navbar-nav li a
  color: white

.nav .navbar-nav .navbar-right
  width: 450px
  position: absolute
  margin: 0
  left: 50%

.navbar a:hover
  color: #1abc9c !important

.footer
  background-color: #555
  color: white
  padding-bottom: 10px
  padding-top: 10px
  margin-top: 100px

.footer a:hover
  color: #1abc9c !important

.button
  background-color: #555
  border: none
  color: white
  padding: 10px 20px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 13px
  margin: 4px 2px
  cursor: pointer

.btn-group .button
  background-color: #555
  color: white
  padding: 10px 20px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 13px
  cursor: pointer
  width: 150px
  display: block


.btn-group .button:not(:last-child)
  border-bottom: none

.button :hover
  color: #1abc9c !important

.btn-group :hover
  color: #1abc9c !important

.jumbotron
  position: relative
  max-height: 350px
  overflow: hidden
  padding: 0
  display: inline-block
  width: 100%

.jumbotron .img-responsive
  margin-top: -25%
  width: 100%

.search-wrapper
  background-color: #555
  padding-bottom: 10px
  padding-top: 10px
  width: 250px

.search-wrapper :hover
  color: #1abc9c !important

.search-field
  padding-top: 5px
  padding-left: 6px
  margin-top: 3px
  border: none
  font-size: 13px
  font-style: italic
  color: #999
  width: 175px

.search-submit-button
  background-color: #555
  border: none
  font-size: 18px
  color: white
  right: 10px
  position: absolute

.search-submit-button :hover
  color: #1abc9c !important
